.main-slider .swiper-description {
    position: absolute;
    bottom: 100px;
    padding: 0px 20px;
    left: unset;
    right: unset;
    width: 70%;
}

.main-slider .swiper-description .info {
    max-width: 100%;
    text-align: justify;
}

.main-slider .swiper-slide::before {
    content: '';
    display: block;
    background: rgb(12, 16, 27);
    background: -moz-linear-gradient(180deg, rgba(12, 16, 27, 0) 0%, rgba(12, 16, 27, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(12, 16, 27, 0) 0%, rgba(12, 16, 27, 1) 100%);
    background-image: linear-gradient(180deg, #0c101b00 0%, var(--color-bg) 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0c101b", endColorstr="#0c101b", GradientType=1);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

section h2,
section .title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--text-color) !important;
}

section h2 .text-muted,
section .title .text-muted {
    color: var(--text-color) !important;
}

.poster {
    user-select: none;
}

.poster .image>.info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.poster .info-title {
    font-size: 18px;
}

.poster .info-original {
    font-size: 15px;
    line-height: 20px;
}

.poster .image img {
    user-select: none;
    pointer-events: none;
}

.poster .image>.info span.info {
    background: var(--body-color);
    padding: 0px 7px;
    border-radius: 10px;
    font-size: 10pt;
    color: white !important;
}

.poster .image>.info span.info {
    background: var(--body-color);
    padding: 0px 7px;
    border-radius: 10px;
    font-size: 10pt;
    color: white !important;
}

.poster .image>.info span.info.info-danger {
    background: var(--main-color);
    opacity: .8;
}

.poster .image>.description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 1000;
    background: rgba(0, 0, 0, .5);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: .3s;
}

.poster .image>.description svg {
    transform: scale(0.8);
    width: 64px;
    fill: white;
    transition: .3s;
    opacity: .5;
}

.poster .image .left {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
}

.poster .image .left span {
    margin-right: 5px;
}

.poster .image .left .info-rainting[data-value="g"],
.poster .image .left .info-rainting[data-value="pg"] {
    display: none;
}

.poster .image .left .info-rainting[data-value="r+"],
.poster .image .left .info-rainting[data-value="rx"] {
    background: var(--color-main) !important;
}

.poster:hover .description {
    opacity: 1;
    transition: .3s;
}

.poster:hover .description svg {
    transform: scale(1);
    transition: .3s;
}

.main-slider .swiper-slide-prev {
    filter: none !important
}

.searchBarResult,
.searchBar {
    background-color: var(--color-bg-dark)!important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60.78px;
    z-index: 10000;
    overflow: hidden;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
    z-index: 1000000001;
}

.searchBar {
    background-color: transparent !important;
}

.navbar-header:not(.transparent) {
    border-bottom: 1px solid #161c2b;
    min-height: 62px;
}

html:not(.ui-search) .navbar-header li,
html:not(.ui-search) .navbar-header .navbar-brand {
    transition: .6s;
    transform: scale(1);
    opacity: 1;
    transition-delay: .3s;
}

html.ui-search .navbar-header li,
html.ui-search .navbar-header .navbar-brand {
    transition: .6s;
    transform: scale(0);
    opacity: 0;
}

.searchBar {
    transition: .6s;
    transform: scaleY(0);
    opacity: 0;
}

.ui-search .searchBar {
    height: 60.78px;
    overflow: hidden;
    opacity: 1;
    transform: scaleY(1);
    pointer-events: all;
    transition: .6s;
    transition-delay: .3s;
}

.ui-search .searchBarResult {
    top: 60.78px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    transition: .3s;
    opacity: 1;
    pointer-events: all;
    position: fixed;
    height: 100%;
    background-color: rgb(12 16 27 / 95%)!important;
    padding: 20px 0px;
}

.searchBar .container,
.searchBar .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBar form {
    white-space: nowrap;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

.searchBar form .search-icon {
    position: absolute;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    fill: var(--text-color);
    opacity: .3;
}

.searchBar form input[type="text"] {
    width: 100%;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: rgb(0 0 0 / 43%);
    padding: 5px 35px 5px 35px;
    outline: none;
    color: var(--text-color);
    vertical-align: middle;
    margin-right: 10px;
    transition: .3s;
}

.searchBar form input[type=submit] {
    position: absolute;
    width: 32px;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='M268 112l144 144-144 144M392 256H100' style='&%2310;' stroke='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    opacity: 0.3;
}

.searchBar form input[type=submit]:hover {
    opacity: 1;
}

.searchBar .nav-link {
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
    color: var(--text-color)!important;
    opacity: .75;
    border-radius: 10px;
    padding: 19px 10px!important;
    margin-left: 10px;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    height: 32px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    padding: 0.5rem 1rem;
    opacity: .3;
}

.searchBar .nav-link svg {
    width: 1.9rem;
}

.searchBar .nav-link:hover {
    opacity: 1;
    color: white;
    color: var(--text-color)!important;
    background: rgba(255, 255, 255, .1);
    transition: .1s;
}

#infor {
    position: absolute;
    background: rgb(12 16 27 / 85%);
    max-width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    z-index: 10000000;
    border-radius: 10px;
    font-size: 12pt;
    transition: .3s;
    pointer-events: none;
}

#infor img {
    width: 100px;
    margin-right: 10px;
}

#infor .raiting {
    font-weight: bold;
    font-size: 16pt;
    position: absolute;
    right: 25px;
    top: 0px;
    background: rgba(0, 0, 0, .3);
    padding: 0px 10px;
    border-radius: 0px 0px 10px 10px;
}

#infor .title {
    font-weight: bold;
    color: white;
    font-size: 16pt;
    margin-top: 0px;
    max-width: 85%;
}

#infor .description {
    max-height: 60px;
    overflow: hidden;
    font-size: 10pt;
}

#infor .text strong {
    margin-right: 10px;
}

#infor .text span {
    margin-right: 10px;
    border-bottom: 1px dotted;
    padding: 0px 5px;
}

#infor .text span.ongoing {
    background-color: forestgreen;
    padding: 0 5px;
    border-radius: 5px;
    margin-right: 0px;
    color: white;
    border: none;
}

.swiper-container {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.yt-item {
    display: block;
    position: relative;
}

.yt-item .image {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.yt-item .image img {
    width: 100%;
}

.yt-title {
    font-size: 12pt;
    display: block;
}

.yt-name {
    font-size: 9pt;
    font-weight: 300 !important;
    display: block;
}

.yt-duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    background: #000000e0;
    color: white !important;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 13px;
}

@media (min-width: 1300px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1200px;
    }
}

.administration {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 10px 0px 10px;
    background: var(--color-bg-dark);
    z-index: 99;
    border-radius: 0px 10px 10px 0px;
}

.administration a {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 32px;
    height: 32px;
    padding: 5px;
    position: relative;
}

.administration a:hover {
    background: var(--color-bg);
    border-radius: 10px;
}

.administration a svg {
    width: 1.3rem;
    position: relative;
}

.administration a span {
    font-size: 8px;
    position: absolute;
    bottom: 0;
    background: #020204;
    padding: 0 5px;
    border-radius: 10px;
}

.administration .hr {
    width: 100%;
    display: block;
    height: 1px;
    background: #ffffff0d;
    margin-bottom: 5px;
}

.popover {
    margin-left: 20px;
}

.popover[x-placement^="right"] .arrow {
    position: absolute;
    display: block;
    margin: 0 0.3rem;
    margin-top: -3px;
    margin-left: 0px;
}

.popover[x-placement^="right"] .arrow::before {
    left: 0;
}

.genres .genre .gray {
    display: block !important;
}

.genres .genre .color {
    display: none !important;
}

.genres .genre:hover .gray {
    display: none !important;
}

.genres .genre:hover .color {
    display: block !important;
}

.swiper {
    overflow: hidden;
}

html {
    --swiper-navigation-color: var(--color-text-first) !important;
    --swiper-navigation-size: 12px !important;
    --swiper-navigation-padding: 9px !important;
}

.swiper-button-next,
.swiper-button-prev {
    margin-top: calc(-1 * var(--swiper-navigation-size));
    background: rgba(0, 0, 0, 0.5);
    width: 42px;
    height: 42px;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    transform: translateY(-50%);
    transition: .3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: rgba(0, 0, 0, 0.8);
    transition: .3s;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    display: none;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: var(--swiper-navigation-padding);
    left: auto;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: var(--swiper-navigation-padding);
    right: auto;
}

.swiper-skeleton {
    height: auto;
    width: 212.5px;
    margin-right: 20px;
}

.swiper-skeleton .info-title {
    height: 1rem;
    background: var(--color-bg-dark);
    border-radius: 5px;
}

.swiper-skeleton .info-original {
    height: auto;
}

.swiper-skeleton .info-original span:first-child {
    height: 0.9rem;
    background: var(--color-bg-dark);
    border-radius: 5px;
    margin-top: 2px;
    width: 80%;
    display: block;
}

.swiper-skeleton .info-original span:last-child {
    height: 0.9rem;
    background: var(--color-bg-dark);
    border-radius: 5px;
    margin-top: 2px;
    width: 30%;
    margin-top: 2px;
    display: block;
}


/*body {
    --body-color: #000000;
    --color-bg: #000000;
    --color-bg-dark: #000000;
    --color-bg-light: #05060a;
    --color-bg-light-light: #0f1422;
    transition: .3s;
}*/

#stopStream {
    position: fixed;
    bottom: 125px;
    right: 37px;
    font-size: 40px;
    font-weight: 100;
    z-index: 1000000000000;
}

.stream {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 100;
    width: 250px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--color-bg);
    overflow: hidden;
    border-radius: 10px;
    opacity: .8;
}

.stream iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
    opacity: .5;
}

.stream:hover {
    opacity: 1;
    width: 400px;
    height: 225px;
}

.stream:hover~a#stopStream {
    bottom: 205px !important;
}

.profile.profile-header::before {
    content: '';
    background-image: linear-gradient(0deg, var(--color-bg) 0%, transparent 100%);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 83px;
    z-index: 2;
    opacity: .8;
    pointer-events: none;
}

.profile.profile-header {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-top: -80px;
}

.profile.profile-header img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.profile.profile-header video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    cursor: default;
    z-index: 1;
}

.profile.profile-header .buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.profile.profile-header .buttons .container-fluid {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile.profile-header .buttons a {
    border: 1px solid white;
    color: white;
    border-radius: 25px;
    padding: 5px 20px;
    margin: 20px 0 20px 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile.profile-header .buttons a svg {
    margin-left: 10px;
}

.profile.profile-header .buttons a:hover {
    border: 1px solid var(--color-main);
    background-color: var(--color-main);
    color: white !important;
}

.profile.profile-body {
    color: white;
}

.profile.profile-body .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -70px;
    z-index: 10;
}

.profile.profile-body .avatar img {
    --avatar-size: 148px;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 100%;
    border: 5px solid var(--body-color);
}

.profile.profile-body .user.name {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    margin-top: 20px;
    color: white;
    cursor: help;
}

.profile.profile-body .user.login {
    display: block;
    color: white;
    font-weight: 100;
    height: 0px;
    font-size: 0px;
    opacity: 0;
    transition: .3s;
}

.profile.profile-body .user.name:hover~.user.login {
    height: .8rem;
    font-size: .8rem;
    opacity: .5;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .3s;
}

.profile.profile-body .nav-pills,
.profile.profile-body .nav-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-edit .nav-pills .nav-link,
.user-edit .nav-pills .nav-item.show .nav-link {
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
}

.user-edit .nav-pills .nav-link:hover,
.user-edit .nav-pills .nav-item.show .nav-link:hover {
    border-color: transparent;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.profile.profile-body .nav-pills .nav-link,
.profile.profile-body .nav-pills .nav-item.show .nav-link {}

.profile.profile-body .nav-tabs .nav-link,
.profile.profile-body .nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    padding: 4px 20px;
}

.user-edit .nav-pills .nav-link.active,
.user-edit .nav-pills .nav-item.show .nav-link {
    background-color: #dc354524 !important;
}

.profile.profile-body .nav-pills .nav-link.active,
.profile.profile-body .nav-pills .nav-item.show .nav-link,
.profile.profile-body .nav-tabs .nav-link.active,
.profile.profile-body .nav-tabs .nav-item.show .nav-link {
    background-color: #dc354524 !important;
    border-color: transparent;
    border-radius: 10px;
    font-size: 1rem;
}

.profile.profile-body .release {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0px;
    border-radius: 10px;
    transition: .3s;
    overflow: hidden;
}

.profile.profile-body .release:hover {
    background-color: var(--color-bg-dark);
    padding: 10px 20px;
    border-radius: 10px;
    transition: .3s;
}

.profile.profile-body .release .posterr img {
    width: 60px;
    border-radius: 5px;
}

.profile.profile-body .release .info {
    margin-left: 10px;
}

.profile.profile-body .release .info .name {
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: block;
    font-size: 1rem;
    white-space: nowrap;
}

.profile.profile-body .release .info .name.original {
    color: #838589;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: block;
    font-size: 1rem;
    white-space: nowrap;
}

.panel.message {
    background: var(--color-bg-dark);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.panel.message .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.panel.message .header .status,
.panel.message .header .login {
    margin-left: 10px;
    font-size: 1.1rem;
}

.panel.message .header .status {
    margin-left: 5px;
    color: #838589;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name.and.date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.name.and.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.name.and.date .date {
    opacity: .3;
    font-size: 0.8rem;
    margin-left: 15px;
}

.panel.message .header .status a {
    color: white;
}

.panel.message .header .avatar {
    display: flex;
    margin-top: 0px;
}

.panel.message .header .avatar img {
    width: 32px;
    height: 32px;
    margin: 0 !important;
    border: none
}

.panel.message .text {
    font-size: 1rem;
    opacity: .5;
}

.bg-item label,
.bg-item label:hover {
    transition: .3s !important;
    cursor: pointer;
}

.searchAvatar {
    background: var(--color-bg-dark);
    padding: 30px 20px 20px 20px;
    border-radius: 10px;
    margin-bottom: 60px;
    width: calc(100% + 40px);
    margin-left: -20px;
}

.searchAvatar .search {
    position: relative;
    background-color: var(--color-bg-dark);
    border-top: var(--color-bg-dark);
    width: 100%;
    z-index: 99;
    margin-top: -20px;
    padding: 10px 0px 15px 0px;
}

.searchAvatar .bg-item label {
    width: 126px;
    height: 126px;
    position: relative;
    border: none !important;
    background-color: var(--color-bg);
}

.searchAvatar .bg-item:hover img {
    transform: scale(1);
    transition: .3s;
}

.searchAvatar .bg-item:hover label {
    border-radius: 100%;
    transition: .3s;
}

.searchAvatar .bg-item label::after {
    content: '';
    width: 45px;
    height: 45px;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    left: 38px;
    top: 38px;
    margin: 0 auto;
    z-index: 1;
    animation: spinner-border .75s linear infinite;
    color: var(--main-color);
}

.searchAvatar .bg-item label img {
    z-index: 2;
    position: relative;
    opacity: 1;
    transform: scale(1.1);
    transition: .3s;
}

#searchAvatarResult {
    margin-right: 10px;
}

#searchAvatarResult .error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 568px;
    color: white;
}

.admin .navbar-header{
    top: 40px;
}

#admin{
    top: 0;
    min-height: 0px;
}