html {
    --text-prmary: #FFFFFF;
    --text-default: #8C93A8;
    --button-bg: #3F4B6D;
    --button-primary: #F2BF83;
    --button-primary--hover: #fcdab2;
    --bg: #192852;
    --bg-dark: #15244B;
    --bg-footer: #0D193A;
}
html body {
    font-family: 'Source Sans Pro';
    background-color: var(--bg);
    color: var(--text-default);
}
.tab {
    overflow: hidden;
    position: fixed;
    background-color: #192852;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-weight: bolder;
    color: #ffffff;
}
.tab button:hover {
    border-bottom: 5px solid currentColor;
}
.tab button.active {
    border-bottom: 5px solid currentColor;
}
.tabcontent {
    display: none;
    padding: 30px 0px;
    border-top: none;
}
.selector {
    display: flex;
    justify-content: center;
}
.title-selecter {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 20px;
}
.title-selecter a{
    text-decoration: none;
    width: 32%;
    margin-bottom: 10px;
}
.title-selecter img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 9/13;
}
.title-selecter .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #ffffff;
}
.title-selecter .info {
    color: #8C93A8;
}
footer {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0D193A;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}
footer .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-evenly;
    max-width: 900px;
    position: relative;
    margin: 0 auto;
    min-height: 50px;
}
footer .points-button {
    display: flex;
    border: none;
    color: var(--ui-color-text-secondary);
    text-decoration: none;
    position: relative;
    flex-direction: column;
    align-items: center;
}
footer .points-button small {
    letter-spacing: 1px;
}
.profile-info {
    display: flex;
    width: 100%;
}
.profile-info img{
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.profile-foto {
    width: 30%;
}
.user-info {
    width: 70%;
    padding-left: 10px;
}
.profile-name {
    color: #FFFFFF;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.profile-online {
    font-size: 15px;
    margin-bottom: 10px;
}
.profile-edit-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    background: rgba(217, 217, 217, 0.2);
    border-radius: 5px;
    text-decoration: none;
}
.profile-edit-btn div {
    padding: 5px;
    color: #FFFFFF;
}
hr {
    height: 1px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.2);
}
.profile {
    margin-top: 20px;
}
.edit {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #192852;
    overflow: auto;
    top: 0;
}
.edit-syze {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
}
.edit-syze a {
    text-decoration: none;
    color: #FFFFFF;
}
.edit-info {
    display: flex;
    flex-direction: column;
}
.edit-info-save {
    display: flex;
    justify-content: space-between
}
.edit-info span {
    color: #FFFFFF;
}
.edit-info input {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 98%;
    border: 0;
    color: #FFFFFF;
    padding: 5px;
    outline: none;
    margin-bottom: 10px;
}
.edit-info textarea {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 98%;
    border: 0;
    color: #FFFFFF;
    padding: 5px;
    outline: none;
    margin-bottom: 10px;
  }
.edit-info button {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    border: 0;
    color: #FFFFFF;
    padding: 5px;
    outline: none;
    margin-bottom: 20px;
}
.anime-poster {
    display: flex;
    justify-content: center;
}
.anime-poster a {
    width: 70%;
}
.anime-poster img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 9/13;
}
.anime-background {
    filter: blur(5px);
    width: 100%;
}
.anime-name {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.title-ru {
    color: #FFFFFF;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.title-tr {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.play-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    background: #FF8A00;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
}
.play-btn div {
    padding: 5px;
    color: #192852;
    font-weight: bolder;
    font-size: 20px;
}
.episode-selecter img {
    width: 100%;
    border-radius: 10px;
}
.episode-selecter a {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.episode-selecter span {
    font-size: 20px;
}
.episode-sel {
    font-size: 20px;
    margin-top: 10px;
}
.episode-selecter {
    margin-bottom: 40px;
}
.anime-info-text {
    color: #ffffff;
}
.genres{
    margin-top: 10px;
    margin-bottom: 10px;
}
.genres a {
    color: #FFFFFF;
}
.show_description {
    background: rgba(217, 217, 217, 0.2);
    border-radius: 5px;
    border: 0;
    padding: 5px;
    color: #FFFFFF;
}
.description-size {
    display: flex;
    justify-content: center;
    flex-direction: column 
}
.comments {
    display: flex;
}
.comments-all {
    width: 100%;
    margin-bottom: 20px;
}
.comments-title {
    color: #FFFFFF;
}
.commentss {
    margin-bottom: 10px;
}
.comments-sort {
    margin-bottom: 20px;
}
.comments-sort .select {
    background: rgba(217, 217, 217, 0.2);
    border-radius: 5px;
    padding: 4px;
}
#comments {
    width: 93%;
    background: #15244B;
    border-radius: 5px;
    outline: none;
    border: 0;
    resize: none;
    padding: 10px;
    color: #FFFFFF;
}
#comments::-webkit-scrollbar {
    width: 0px;
}
.comments-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.comments-btn #clear {
    background: #15244B;
    border-radius: 5px;
    color: #FFFFFF;
    border: 0;
}
.comments-btn .submit {
    background: rgba(217, 217, 217, 0.2);
    border-radius: 5px;
    color: #FFFFFF;
    border: 0;
    margin-left: 5px;
}
.comments-autor {
    display: flex;
    margin-bottom: 10px;
}
.comments-avatar {
    border-radius: 50%;
    width: 15%;
}
.comments-info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.comments-name {
    color: #FFFFFF;
}
.comments-rating {
    margin: auto;
    margin-right: 0;
}
.comments-text {
    margin-bottom: 10px;
}
.comments-reply {
    color: #FFFFFF;
}
.back {
    background-color: #0D193A;
    padding: 3px;
    border-radius: 5px;
}
.player {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    margin-bottom: 100px;
}
.player iframe {
    width: 100%;
    height: 91%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    position: fixed;
}
.player-btn {
    display: flex;
    position: fixed;
    justify-content: space-around;
    background: #0D193A;
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
}
.player-next {
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
}
.player-prev {
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
}
.player-home {
    margin: 0 auto;
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
}
.otsup3 {
    bottom: 0;
}
.search {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 5px 10px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            display: flex;
  }
  
.search button {
    background: none;
    border: none;
    position: relative;
    padding-left: 15px;
  }
  
.search button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(217, 217, 217, 0.2);
    width: 1px;
    height: 100%;
  }
  
.search input {
    padding: 0;
    background: none;
    border: none;
    color: white;
    outline: none !important;
    width: 90%;
  }
  .reg a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .register {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }
  .reg-panel .edit-info {
    align-items: normal;
  }
  .header-dark {
    background-color: #15244B;
    position: absolute;
    z-index: 10;
    width: 100%;
  }
  .reg-panel .edit-info-save {
    justify-content: center;
  }
.socials {
    display: flex;
    justify-content: center;
}
.socials .socials-reg {
    display: flex;
    justify-content: space-between;
}
.socials .socials-reg  img{
    width: 100%;
    border-radius: 50%;
    margin-top: 10px;
}



.trailer-anime {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: -1;
}
.trailer1 {
    backdrop-filter: blur(100px);
}
  .trailer2{
    width: 100%;
    position: relative;
    padding-top: 100%;
  }
   
  .trailer3 img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 90%;
    border: none;
    pointer-events: none;
    user-select: none;
    object-fit: cover;
    filter: blur(4px);
  }

  .trailer1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 156px;
    background: -webkit-gradient(linear, left top, left bottom, from(#192852), to(rgba(24, 38, 80, 0)));
    background: linear-gradient(180deg, #192852 0%, rgba(24, 38, 80, 0) 100%);
    z-index: 5;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .trailer1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 392px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 38, 80, 0)), color-stop(58.85%, rgba(24, 39, 81, 0.64)), to(#192852));
    background: linear-gradient(180deg, rgba(24, 38, 80, 0) 0%, rgba(24, 39, 81, 0.64) 58.85%, #192852 100%);
    z-index: 5;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }





  .about-voices {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
  }
  .about-voices-info {
    background-color: #192852;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    z-index: 20;
  }
  .about-voices-img {
    width: 8%;
  }
  .about-voices-img img {
    border-radius: 50%;
    width: 100%;
  }
  .about-voices-size {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-voices-size:before {
      content: '';
      background: #000;
      position: fixed; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%;
      opacity: 0.7;
      z-index: 10;
  }
.about-open {
    width: 100%;
}